<nav class="navbar">
    <img class="zolo" src="/zolo.svg" alt="" srcset="">
    <a href="/" class="logo"><h1>Zolo Blog</h1></a>
    <div class="links">
        <a href="/">Home </a>
        <a href="/about">About Me</a>
        <a href="/blogs/create">New Blog</a>
    </div>
</nav>